body{
  background-color: #1e1e1e;
}
.App {
  text-align: center;
}
.Riddle{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.LetterBox{
  border-style: groove;
  border: 5px;
  height: 100px;
  width: 100px;
  background-color: #333;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LetterInput{
  height: 80px;
  width: 80px;
  border-style: none;
  font-size: 50px;
  text-align: center;
  background: none;
  color: #fff;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  display: flex;
}